<div>
  <h1>this is {{title}}</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus facilis veritatis est animi
    neque repudiandae odit illum! Dolor ratione, consequuntur incidunt a ea voluptatem, animi eius commodi
    alias, voluptatum rerum beatae. Recusandae, ipsum soluta.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex enim, quam minima incidunt tempora
    nihil ducimus optio cum! Similique blanditiis quaerat ex exercitationem praesentium,
    nisi cum a consectetur assumenda odio accusamus saepe. Ut mollitia adipisci fugit perspiciatis
    illum magni id, iusto voluptates officiis sapiente ullam a?</p>
</div>